* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form{
 margin: auto;
 background-color: #dbdbdb;
 display: flex;
 height:370px;
 width: 350px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 10px;
 box-shadow: 10px 10px  rgba(0,0,0,0.300);}

 .form{
    width: 80%;
    margin: auto;
}

.form h3{
    margin: 15px 0;
    font-size: 30px;
    }
.form input{
    width: 100%;
    padding: 13px;
    font-size: 15px;
    margin-bottom:20px;
    border-radius: 2px;
    border: 2px solid #ccc;
    opacity: .5;
    outline: none;

}
 

